<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@MHalas.BGM.l10n.Resource.Error</title>
</head>
<body>
    <hgroup>
        <h1>@MHalas.BGM.l10n.Resource.Error.</h1>
        <h2>@MHalas.BGM.l10n.Resource.ErrorOccured</h2>
    </hgroup>
</body>
</html>
